body{
    background-image: url("media/background.jpg");
    background-repeat: repeat;
    background-size: 100%;
}

.logo{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.titulo{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.pie_down{
    width: 30%;
    height: 5px;
    margin: auto;
    background: linear-gradient(to left, #FFFF00, #FFFFFF);
    border: 1px solid whitesmoke;

}

.pie_up{
    width: 30%;
    height: 5px;
    margin: auto;
    background: linear-gradient(to right, #FFFF00, #FFFFFF);
    border: 1px solid whitesmoke;

}

.form_background{
    display: flex;
    justify-content: center;
    width: 30%;
    margin: auto;
    background-color: #FFFFFF;
}

.inp_bar1, .inp_bar2, .inp_bar3, .inp_bar4, .inp_bar5{
    display: flex;
    justify-content: center;
    margin: auto;
}
/* .inp_bar1{
    margin-left: 68px;
}
.inp_bar2{
    margin-left: 64px;
}
.inp_bar3{
    margin-left: 82px;
}
.inp_bar4{
    margin-left: 92px;
} */

.form_label{
display: flex;
justify-content: center;
}

.boton_enviar{
display: flex;
justify-content: center;
margin: auto;
}