.logo{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

body{
    background-image: url("media/background.jpg");
    background-repeat: repeat;
    background-size: 100%;
}

.titulos{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    margin: auto;
}
.ti1, .ti2{
    text-align: center;
}

.museo1, .museo2, .museo3, .museo4{
    height: 300px;
    width: 200px;
    size-adjust: 100%;
    background-color: rgb(255, 255, 255);
    text-align: center; 
    transition: 0.5s;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
}

.museo1:hover, .museo2:hover, .museo3:hover, .museo4:hover{
    transform: scale(1.02);
}

.articulos{
    background-color: white;
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: auto;
    gap: 0%;
    margin: auto;

}