p {
    color: blue;

}

#contacto{
    width: 100%;
    height: 100px;
    background: linear-gradient(to left, yellow, white);
    border: 1px solid whitesmoke;

}

input {
    display: inline;

}

#campo_correo {
    width: 300px;
    height: 30px;
    margin-top: 30px;
    margin-left: 10px;
}

#boton_enviar {
    width: 80px;
    height: 30px;
    margin-top: 30px;
}

#flex-container{
    width: 100%;
    height: 50px;
    background: linear-gradient(to right, yellow, white);
    border: 1px solid whitesmoke;

}

/*.imagenes_footer:hover {
    border-image-width: 30px;
    width: 20px;

}*/

#flex-container {
    display: flex;
    flex-flow: row;
    justify-content: right;
}

.imagenes_footer {
    transition: 0.5s;
    margin: 5px;  
}

.imagenes_footer:hover {
    transform: scale(1.2); 
}